.bg-brand-1 {
    background-color: $color-brand-1;
}

.bg-brand-2 {
    background-color: $color-brand-2;
}

.color-brand-2 {
    color: $color-brand-2;
}

.fill-brand-1 {
    fill: $color-brand-1;
}

.fill-brand-2 {
    fill: $color-brand-2;
}