$border-style-default: solid;
$border-width-none: 0;
$border-width-thin: 1px;

$color-brand-1: #E6007E;
$color-brand-2: #ffed00;
$color-brand-3: #2a2842;

$border-radius-none: 0;
$border-radius-small: 4px;

$spacing-xxxs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 12px;
$spacing-sm: 16px;
$spacing-md: 32px;
$spacing-xl: 64px;

$font-family-base: 'Arial', sans-serif;

$font-weight-bold: bold;

$grid-xs: 576px;
$grid-sm: 768px;
$grid-md: 992px;